<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pro.css">
    <link rel="stylesheet" href="/css/pro.css">
    <script src="main.js"></script>

    <title>MVC Project</title>
</head>

<body>
    <nav class="nav">
        <h2 class="navbar"> Navbar</h2>

        <div class="product">
            <a href="/">Product</a>
        </div>

        <div class="Nproduct">
            <a href="/new">New-Product</a>
        </div>

        <% if(locals.userEmail) {%>
            <div class="product">
                <a href="/logout">LogOut</a>
            </div>
        <%} else {%>
        <div class="product">
            <a href="/register1">Register</a>
        </div>
        <div class="product">
            <a href="/login">Login</a>
        </div>
      <%  }%>
      
    </nav>
    <h2>A Basic HTML Table</h2>

    <%-body%>

</body>

</html>