


<h1 class="mt-5 mb-4">Register</h1>

<form action="/register" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name : </label>
        <input type="text" class="form-control" id="name" required>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="mb-3">
        <label for="email" class="form-label">E-mail : </label>
        <input type="email" class="form-control" id="email" required>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="mb-3">
        <label for="password" class="form-label">Password : </label>
        <input type="password" class="form-control" id="password" required>
    </div><br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Register</button>

</form>











